@import "~select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";


.responsiveFrame {
  &#weaponStatsDiv {
    margin: auto;
  }
  &#contentBody {
    display: block !important;
    max-width: none;
    margin: auto;
  }

  &#weaponsStats_wrapper {
    margin: auto!important;
  }
}

.noResponsiveFrame {
  &#weaponStatsDiv {
     margin: 0;
   }
  &#contentBody {
     display: table;
   }

  &#weaponsStats_wrapper {
    margin: 0 !important;
  }
}