@import "~select2-bootstrap4-theme/dist/select2-bootstrap4.min.css";


.responsiveFrame {
  &#weaponStatsDiv {
    margin: auto;
  }
  &#contentBody {
    display: block !important;
    max-width: none;
    margin: auto;
  }

  &#weaponsStats_wrapper {
    margin: auto!important;
  }
}

.noResponsiveFrame {
  &#weaponStatsDiv {
    margin: 0;
  }
  &#contentBody {
    display: table;
  }

  &#weaponsStats_wrapper {
    margin: 0 !important;
  }
}


html.noFilter {
  -webkit-filter: none;
  filter: none;
}


html.noBackground {
  background-color: transparent;
  body, #weaponStatsDiv, .row100 {
    background-color: transparent !important;
  }

  .border1px, .formContainer {
    background-color: #aaaaaa15;
  }

  .formContainer .col {
    max-width: 210px;
  }

  h3 {
    font-weight: 700;
  }
  h1 {
    display: none;
  }
}

@font-face {
  font-family: 'Play', sans-serif;
  src: url('../fonts/Play/Play-Bold.ttf');
}

html.survariumProFonts {
  font-family: 'Play', sans-serif !important;
  color: rgba(245,245,245,0.65)  !important;;
  -webkit-font-smoothing: antialiased;
  body {
    font-family: 'Play', sans-serif !important;
    color: rgba(245,245,245,0.65)  !important;;
    -webkit-font-smoothing: antialiased;
  }

  .select2-container {
    color: black;
  }
}

// noFilter noBackground survariumProFonts